[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
designer = "/Users/Carlo/.virtualenvs/testpy-w4QchJDN/Scripts/pyside6-designer.exe"

[packages]
pyside6 = "*"

[dev-packages]

[requires]
python_version = "3.11"
